/* Base Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

/* Header */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgba(75, 94, 96, 0.783);
  height: 50px;
  position: fixed;
  width: 100%;
  font-weight: bold;
   

}

.imagebar p {
  font-size: 24px;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  list-style: none;
  margin-right: 30px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}
.navbar a:hover{
    color:grey;
}

/* Home Section */
.home .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
 background: linear-gradient(to right,#ffffff,#96bddc);
 
 
}
h3{
    margin-top: 50px;
}

.home img {
  width: 150px;
  height: 250px;
  border-radius: 50%;
  margin-top: 50px;
}

.intro {
  max-width: 500px;
}

/* About Section */
.about {
  padding: 40px;
  background: linear-gradient(to right,#f8f8fbd8,#a1c2e1);
}

/* Skills Section */
.skills {
  padding: 40px;
  background: linear-gradient(to right,#f1f0f5e1,#a7cae3);
}

.skill-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.skill-card {
  background-color: #fffff9;
  padding: 20px;
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 2px 5px #05041000;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(2, 0, 20, 0.957);
}

/* Contact Section */
.contact {
  text-align: center;
  padding: 40px;
  background: linear-gradient(to right,#f5f4fbc0,#abc4ea);
  margin-left: auto;
}

.contact-info p,
.contact-info a {
  margin: 5px 0;
  
}

.contact-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}



.contact-form input,
.contact-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: text;
}

.contact-form input:invalid,
.contact-form textarea:invalid {
  border: 2px solid red;
  width: 30%;
  text-align: center;
  
}
#name,#email,#message{
    width: 25%;
    margin-left: 33%;
}
.contact-form button {
  padding: 10px;
  background-color: #210808;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 10%;
  text-align: center;
  margin-left: 42%;
}

.contact-form button:hover {
  background-color: #1c3a3ec0;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background-color: #021706;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container,
  .home .content,
  .skill-list,
  .contact-form {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .navbar ul {
    flex-direction: column;
    padding: 0;
  }

  .navbar li {
    margin: 10px 0;
  }

  .home img {
    width: 80%;
    height: auto;
  }

  .skill-card {
    width: 90%;
    margin-bottom: 20px;
  }
}